<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TPV2TC/src/DbConn.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="DbConn"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="TC2Helios C:\SPLM\Apps\Import\java_WritteProperty.csv export 0 C:\Temp\VAA000095_001.csv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TPV2TC"/>
</launchConfiguration>
