<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Rich Client Target">
<locations>
<location path="${env_var:ROOT}/${env_var:PLAT}/eclipse/rcp/" type="Directory"/>
</locations>
</target>
